astropy
batman-package
bokeh
ccdproc
corner
crds
cython
dynesty>1.0
emcee>3.0.0
george
gwcs
h5py
ipython
lmfit
matplotlib
myst_parser # Needed for documentation
nbsphinx # Needed for documentation
numpy>=1.20.0
pandas
photutils
pytest
recommonmark # Needed for documentation
requests
scipy>=1.4.0 # Needed for scipy.fft
sphinx-rtd-theme # Needed for documentation
stdatamodels
svo_filters
tqdm
