asdf==2.8.1
astropy
astroquery>=0.4.2
batman-package
bokeh
ccdproc
corner
crds
cython
dynesty
emcee
gwcs
h5py
ipython
lmfit
matplotlib
myst_parser
nbsphinx
numpy>=1.20.0
pandas
pytest
recommonmark
requests
scipy
sphinx-rtd-theme
stdatamodels
svo_filters
tqdm
