astraeus @ git+https://github.com/kevin218/Astraeus@main#egg=astraeus
astropy
batman-package
bokeh
ccdproc
celerite # Needed for GP
corner
crds
cython
dynesty>1.0
emcee>3.0.0
george # Needed for GP
gwcs
h5py<3.2
ipython
lmfit
matplotlib
numpy>=1.20.0
pandas
photutils
requests
scipy>=1.4.0 # Needed for scipy.fft
stdatamodels
svo_filters
tqdm
